h1{
    text-align: center;
    color: red;
    font:size 30px;

}
.odd{
    color: blue;
}
.even{
    color: white;
    background-color: blue;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
}